/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
body{
    position: relative;
}
.fl-page {
    width: auto;
    overflow: hidden;
}
.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
.fl-page .fl-page-content .fl-content-full.container > .row > .fl-content{
    margin: 0;
}

.storename{
    padding: 0px;
    list-style: none;
}

.storename p,
.storename span{
    margin: 0px !important;
}

ul.store-opening-hrs {
    list-style: none;
    padding: 0px;
}
.facetwp-template .product-plp-grid .product-grid > a.plp_box_btn, .product-detail-layout-default .button-wrapper-default > a, .product-detail-layout-default .button-wrapper-default .roomvo-container > a, .product-detail-layout-5 .button-wrapper > a{
	color: #eef0ee!important;
    background-color: #378de3!important;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    font-size: 16px!important;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 0px!important;
}
.facetwp-template .product-plp-grid .product-grid > a.plp_box_btn:hover, .product-detail-layout-default .button-wrapper-default > a:hover, .product-detail-layout-default .button-wrapper-default .roomvo-container > a:hover, .product-detail-layout-5 .button-wrapper > a:hover{
	color: #eef0ee!important;
    background-color: #1e212c!important;
    font-family: "Montserrat",sans-serif;
    border-radius: 0px!important;
}
/* .fl-post-grid-gallery{
    background-size: contain!important;
    background-position: center center!important;
} */
#menu-top-bar-menu .menu-item{
    padding: 2px 25px;
}
#menu-top-bar-menu .nav-link {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
#menu-top-bar-menu .storename{
    display: inline-block;
    vertical-align: middle;
}
#menu-top-bar-menu .storename .nav-link{
    display: none;
}
#menu-top-bar-menu a:not(.nav-link){
    display: inline-block;
    vertical-align: top;
}
.fl-page-header-primary .fl-logo-img{
    max-height: 95px;
}
.fl-submenu-indicator .fl-page-nav ul.navbar-nav>li.menu-item-has-children>a:after{
    margin-top: -2px;
}
.fl-module-content-slider .fl-slide .fl-slide-content:empty{
    display: none;
}
.fl-module-content-slider .fl-slide-foreground .fl-slide-photo{
    margin-top: 60px;
}

#djcustom-footer .fl-module-icon .fl-icon-text > p{
    margin: 0;
}
.fl-content-slider .fl-slide{
    display: flex;
    align-items: center;
}
.fl-content-slider .fl-slide .fl-slide-foreground{
    width: 100%;
}
.fl-content-slider .fl-slide .fl-slide-title{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    font-weight: 600;
    font-size: 40px;
}
.fl-content-slider .fl-slide-bg-photo:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.25);
}
.fl-content-slider .fl-slide .fl-slide-text .fl-button{
    margin: 0 10px;
}
.active-gallery-modal .product-box a.fl-button{
    border-radius: 0;
    border: 1px solid;
}
.product-grid .fl-post-grid-text a.fl-button,
.button-wrapper-default a.button:hover,
.button-wrapper-default a:hover,
.button-wrapper-default a.button.alt,
.active-gallery-modal .product-box a.fl-button{
    background: #a30202;
    border-color: #a30202;
    color: #fff;
}
.product-grid .fl-post-grid-text a.fl-button:hover,
.button-wrapper-default a.button.alt:hover,
.active-gallery-modal .product-box a.fl-button:hover{
    background-color: #378de3;
    border-color: #378de3;
    color: #fff;
}
.button-wrapper-default a,
.button-wrapper-default a.button{
    border-color: #a30202;
    color: #a30202;
}

.product-box h1{
    font-size: 42px;
}
#field_7_2{
    padding-right: 0px;
}

.gform_wrapper ul.gform_fields li.gfield,
.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half{
    padding-right: 10px!important;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]{
    margin-top: 2px!important;
}

@media (max-width:1080px){
    
    .active-gallery-modal .fl-row-content-wrap .col-md-8{
        width: 63%!important;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-4{
        width: 25%!important;
    }
    /* .fl-page-header-primary .fl-logo-img{
        max-width: 90%!important;
    } */
    .fl-page-nav .navbar-nav li>a{
        font-size:14px;
        padding: 15px 5px;
    }
}

@media(max-width:992px){
    .fl-page-nav-search{
        display: block!important;
    }
}

@media (max-width:768px){
    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col{
        width: 32%!important;
    }

    #product-list-top-filters .fl-col-group .fl-col:last-child{
        width: 34%!important;
    }
    .facetwp-page{
        margin-right: 3px!important;
    }
    .fl-page-header-primary .fl-logo-img{
        max-width: 40%!important;
    }
    .fl-page-header-logo{
        margin: 10px 0;
    }
    .facetwp-checkbox{
        background-position: 0px 3px!important;
    }
    .active-gallery-modal .product-box a.fl-button{
        margin: 0px auto;
    }
    .gform_widget .gform_wrapper .timeEstimate .gfield_time_ampm select{
        max-width: 60px!important;
        width: 60px!important;
    }
    .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]{
        margin: 2px!important;
        vertical-align: top;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-4{
        width: 35%!important;
    }
    #menu-top-bar-menu .menu-item{
        padding: 2px 0px;
    }
    #menu-top-bar-menu .nav-link{
    font-size: 11px;  
    }
    #responsive-menu-additional-content{
        padding-top: 0px!important;
    }
    #responsive-menu-additional-content ul{
        display: inline-block;
    }
    #responsive-menu-additional-content ul .phone{
        margin-bottom: 10px;
    }
    #responsive-menu-additional-content ul .phone a{
        color: #fff;

    }
 }
 @media (max-width:767px){
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    #menu-top-bar-menu .nav-link{
        font-size: 12px;  
        }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}
    ul.fl-page-bar-nav li{
        display: none;
    }
    ul.fl-page-bar-nav li:first-child{
        display: block;
    }
    /* ul.fl-page-bar-nav li:first-child{
        display: block;
    } */
    #responsive-menu-additional-content a{
        color: #fff;
    }
    .responsive-menu-open button#responsive-menu-button{
        position: fixed!important;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-8{
        width: 100%!important;
    }
    .active-gallery-modal .fl-row-content-wrap .col-md-4{
        width: 100%!important;
    }
    .fl-content-slider .fl-slide{
        flex-wrap: wrap;
    }
    .fl-slide-mobile-photo-img{
        min-height: inherit;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide-1 .fl-slide-content{
        padding: 0px!important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide-1.fl-slide-title, .fl-slide-text > *{
        margin-bottom: 0px!important;
    }
        .gform_wrapper ul.gform_fields li.gfield,
    .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half{
        padding-right: 0px!important;
    }
 }
@media screen and (max-width: 600px){
    #wpadminbar { position: fixed; }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text, .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text *{
        font-size: 20px!important;
        line-height: 31px!important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text h1 span{
        font-size: 25px!important;
        margin-bottom: 10px;
    }
}
 @media (max-width:450px){
     .fl-page-bar .text-right{
        display: none;
     }
    .facetwp-per-page, .facetwp-pager{ text-align: center !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}
    #product-list-top-filters .fl-col-group .fl-col{
        width: 100%!important;
    }

    #product-list-top-filters .fl-col-group .fl-col:last-child{
        width: 100%!important;
    }
    .facetwp-page{
        margin-right: 3px!important;
    }
    .fl-builder-content .footer-sect-wrap{
        width: 100%!important;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo{
        padding-bottom: 0px;
    }
    .fl-page-header-primary .fl-page-header-logo{
        padding: 0 55px;
    }
    .fl-page-header-primary .fl-logo-img{
        max-width: 100% !important;
    }
    button#responsive-menu-button{
        right: 10px !important;
    }
 }

 @media (max-width:390px){
     .fl-page-bar{
         font-size: 11px;
     }
 }

 /* 12-6-2029 */
    #label_13_11_1:before{
        background: transparent;
        border: 1px solid #ccc;
        height: 12px;
        width:12px;
        border-radius: 0px;
        font-size: 9px;
        color: #000;
        padding: 0;
    }
